{
  "extends": ["airbnb", "prettier"],
  "plugins": ["import", "jsx-a11y", "react", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-param-reassign": ["error", { "props": false }],
    "no-trailing-spaces": 2,
    "no-use-before-define": [
      2,
      {
        "functions": false
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  }
}
